

<h1>Friends List | <%= link_to "Add New friend", new_friend_path , class:'btn btn-primary' %> </h1> 


<div class="container">

<div class="d-flex flex-column-reverse bd-highlight">
  <div class="p-2 bd-highlight">
  
    <% @friends.each do |friend| %>
    <%= render friend %>
    <p>
      <br />
      <%= link_to "Show this friend", friend , class:'btn btn-success' %>
    </p>
  <% end %>




  </div>
</div>

</div>

